

/* https://www.layoutgridcalculator.com/type-scale/
https://type-scale.spencermortensen.com/3/2.5/1/1.125em/Roboto%20700/Lora */

h1 { font-size: 2.5em; }
h2 { font-size: 1.842em; }
h3 { font-size: 1.3572em; }
small { font-size: .9368em; }
html { font-size: clamp(1em, .4167vw + .8875em, 1.125em); }

h1, h2, h3 {
	font-family: 'Roboto';
}

html {
	font-family: 'Inter';
}